<div class="js-regapps">
  <%= form_for [user, Regapp.new], remote: true do |f| %>
    <%= f.text_field :name, placeholder: "Register app name" %>
    <%= f.text_field :url, placeholder: "Register app address" %>
    <%= f.submit "Save item", class: 'btn btn-success' %>
  <% end %>
</div>
