<br>
<div class="jumbotron">
 <h1>b l o c m e t r i c s</h1>
 <p></p>
 <p>
   <% unless current_user %>
     <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
     <% end %>
 </p>
</div>

<div class="row">
 <div class="col-md-4">
   <h2>customizeable analytics</h2>
   <p>easy to view, view it all</p>
 </div>
 <div class="col-md-4">
   <h2>web-dash tracking</h2>
   <p>track all of your ads in real-time for free</p>
 </div>
 <div class="col-md-4">
   <h2>expertise</h2>
   <p>first 3 consultations free</p>
 </div>
</div>
